* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.confirm-minutes {
  background-color: #fff;
}

.input-wrapper {
  height: clamp(1rem, 1rem + 5vw, 4rem);
  display: flex;
  align-self: center;
  justify-self: center;
  height: clamp(2rem, 4rem);

  gap: 1rem;
  text-align: center;
  align-items: center;
}

input {
  display: flex;
  text-align: center;

  height: clamp(1rem, 1rem + 5vw, 4rem);
  width: 7rem;
  padding: (0.3rem, 1rem);

  color: var(--primary-color);
  font-size: 3rem;
  background-color: var(--bg-btn-color);

  border-radius: 1rem;
  border: none;

}

.input-wrapper button {
  height: clamp(1rem, 1rem + 5vw, 4rem);
  background-color: #0A3442;
  color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 10px;
}

.input-wrapper button:hover {
  background-color:  #02799D;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: grid;
  background-color: var(--bg-color);
}

.light-theme {
  --bg-color: #fff;
  --bg-btn-color: #E1E1E6;
  --bg-selected-button: #02799D;
  --primary-color: #323238;

}

.dark-theme {
  --bg-color: #121214;
  --bg-btn-color: #29292E;
  --bg-selected-button: #0A3442;
  --primary-color: #fff;
}

header {
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13rem;
  padding-top: 0;
}

.score, .message {
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-size: clamp(3rem, 3rem + 3vw, 10rem);
  
}

.score {
  margin: 1rem 0 0 5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.update {
  animation: scoreUp 2000ms;
  transition:cubic-bezier(0.6, 0.04, 0.98, 0.335);  
}

header button {
  padding: 0 5rem 0 0;
  display: flex;
  align-items: center;
  height: 4rem;
}

.message {
  font-size: 3rem;
  color: var(--primary-color);
  display: flex;
  justify-self: center;
  align-self: start;
  opacity: 0;
  text-align: center;

  padding: 0 5rem;
}

.show {
  opacity: 1;
  animation: showMessage 6000ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); 
}

.hide {
  opacity: 0;
  animation: showMessage 2000ms backwards;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); 
}

.page {
  background-color: var(--bg-color);
  color: var(--primary-color);
  padding: 5px;

  align-self: start;
  /* justify-self: center; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 7px; */

  align-items: center;
  justify-content: space-around;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

time {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(6rem, 6rem + 3vw, 12rem);

  display: flex;
  align-items: center;
  justify-content: center;

}

.controls {
  display: flex;
  gap: 2rem;
}

.controls button svg {
  height: clamp(0.6rem, 0.6 rem + 2vw, 1.6rem);
  width: clamp(0.6rem, 0.6 rem + 2vw, 1.6rem);
}


button {
  background: transparent;
  border: none;

  cursor: pointer;
}

.hidden {
  display: none;
}

.sounds {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

}

.sounds .selected-button:first-child{
  fill: var(--bg-selected-button);
}

.sounds .selected-button:nth-child(2) {
  fill: var(--bg-color);
}

.controls button svg path:first-child, 
.pause svg path
{
  fill: var(--primary-color);
}

.sounds .bg-button {
  fill: var(--bg-btn-color);
}

.controls button svg path:nth-child(1),
.sounds svg path,
.sounds rect,
.sounds circle {
  fill: var(--primary-color);
}


.time-up {
  animation: timerBlinks 500ms;
  animation-iteration-count: 3;
}

circle {
  z-index: 3;
}

rect {
  cursor: col-resize;
}

@keyframes timerBlinks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showMessage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scoreUp {
  0% {
    transform: rotate3d(0deg)
  }

  100% {
    transform: rotatex(360deg);
  }
}

@media (max-width: 650px) {
  .page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}



